
.home-outlineicon-:before { content: '\e800'; } /* '' */
.doc-addicon-:before { content: '\e801'; } /* '' */
.doc-texticon-:before { content: '\e802'; } /* '' */
.searchicon-:before { content: '\e803'; } /* '' */
.editicon-:before { content: '\e804'; } /* '' */
.restauranticon-:before { content: '\e832'; } /* '' */
.menuicon-:before { content: '\f0c9'; } /* '' */